// .popup .content {
//     width: 100%;
//     object-fit: cover;
// }

.popup {
    position: fixed;
    background: rgba(21, 20, 19, 0.5);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;

    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0px 10px 10px 10px;
        width: 100%;
        height: 89vh;
        background: rgba(255, 255, 255, 1);
        border-radius: 20px 20px 0 0;

        font-size: 25px;
        transform: scale(0.5);
        transition: 0.4s all;

        .swipeBar {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px 25px 0 0;
            width: 100%;
            padding: 7px 0px 10px 0px;
            // background: rgb(255, 255, 255);
            // top: -20px;
        }

        .swipeBar::before {
            content: '';
            width: 60px;
            height: 3px;
            background-color: #ccc;
            border-radius: 2px;
        }

        .layout {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // position: relative;
            width: 100%;
            row-gap: 20px;
            height: 100%;
            

            .image {
                // border-radius: 13px;
                // width: 100%;
                // height: 100%;
                // object-fit: cover;
                // height: 100%;
                width: 100%;
                height: auto;  
                max-width: 400px;
            }

            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 20px;
                width: 100%;

                .title,
                .price {
                    width: max-content;
                    font-weight: 600;
                    font-size: 20px;
                }
            
                
                .price {
                    align-content: center;
                    padding: 6px 10px;
                    border-radius: 6px;
                    background: rgba(201, 62, 1, 1);
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

    }

    .content.active {
        transform: scale(1);
    }

    .button {

    }
}

.popup.active {
    opacity: 1;
    pointer-events: all;

}

// @keyframes opacity {
//     0% {
//         opacity: 0;
//     }

//     100% {
//         opacity: 1;
//     }
// }   