.popup {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%; // !!!!!!!!!!!!!!!!!!!!!!!!!! пофиксить проблему с высотой на телефоне !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    align-items: flex-end;
    z-index: 31;
    pointer-events: none;

    .blur {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }

    .blur.active {
        background: rgba(21, 20, 19, 0.5);
        backdrop-filter: blur(5px); // (safary 9 released in 2015 )
        transition: 1s;
    }

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0px 10px 10px 10px;
        width: 100%;
        height: 89vh;
        background: rgba(255, 255, 255, 1);
        border-radius: 20px 20px 0 0;
        font-size: 25px;
        transform: translateY(150%);
        transition: transform 0.8s;


        .swipeBar {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px 25px 0 0;
            width: 100%;
            padding: 7px 0px 10px 0px;
        }

        .swipeBar::before {
            content: '';
            width: 60px;
            height: 3px;
            background-color: #ccc;
            border-radius: 2px;
        }

        .layout {
            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 20px;
            height: 100%;

            .image {
                align-self: center;
                width: 100%;
                height: auto;
                max-width: 400px;
                aspect-ratio: 300 / 328;
                border-radius: 20px;
            }

            .head {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                height: inherit;

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 20px;
                    width: 100%;

                    .price {
                        align-content: center;
                        padding: 6px 10px;
                        border-radius: 6px;
                        background: rgba(201, 62, 1, 1);
                        color: rgba(255, 255, 255, 1);
                    }
                }

                .supplements {
                    height: inherit;

                    .title {
                        padding: 0px 0px 12px 0px;
                    }

                    .item {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;
                    }
                }

            }


        }

        .title,
        .price {
            width: max-content;
            font-weight: 600;
            font-size: 20px;
        }
    }

    .container.active {
        transform: translateY(0%);
        // transition: transform 0.8s;
    }

}

.popup.active {
    pointer-events: all;

}


@media (min-width: 800px) {
    .popup {
        align-items: center;
        justify-content: center;

        .container {
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 780px;
            height: auto;
            border-radius: 20px;

            transform: none;
            opacity: 0;
            transition: 0.8s;

            .swipeBar {
                display: none;
            }

            .layout {
                flex-direction: row;
                justify-content: center;
                height: auto;
                column-gap: 12px;
                max-width: 1260px;

                .head {
                    width: 100%;
                    gap: 0;

                    .info {
                        padding: 0 0 32px 0;
                    }

                    .supplements {
                        height: 100%;
                    }
                }
            }
        }

        .container.active {
            opacity: 1;
        }
    }

}

// .popup.active {}

@media (min-width: 1215px) {
    .popup {
        .container {
            padding: 15px;
            width: 1100px;
            border-radius: 20px;

            .layout {
                column-gap: 30px;

            }
        }

        .container.active {}
    }


}