.list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    max-width: 876px;
    // gap: 20px;
}

// @media (min-width: 510px) {
//     .list {
//         display: flex;
//         flex-wrap: wrap;
//     }

// }