    .button {
        width: 100%; // percentage of width from the product card
        padding: 10px 0px 10px 0px;
        color: white;
        background: rgba(201, 62, 1, 1);
        border: 1px solid rgba(201, 62, 1, 1);
        border-radius: 60px;
        font-size: 14px;
    }