.button {
    margin: 10px 0px 10px 0px;
    // width: 93.33%; percentage of width from the product card
    width: 280px;
    height: 32px;
    color: white;
    background: rgba(201, 62, 1, 1);
    border: 1px solid rgba(201, 62, 1, 1);
    border-radius: 60px;
    transition: .1s linear;
}

.button:hover {

    background: rgb(255, 255, 255);
    color: rgba(201, 62, 1, 1);

}

.button:active {
    transform: scale(0.99);
    
}
