.button {
    margin: 10px 0px 10px 0px;
    // width: 93.33%; percentage of width from the product card
    width: 280px;
    height: 32px;
    color: white;
    background-color: rgba(201, 62, 1, 1);
    border: 1px solid rgba(201, 62, 1, 1);
    border-radius: 60px;
    // cursor: pointer;
}