.head {
    position: sticky;
    top: 0;
    // left: 0;
    // right: 0;
    width: 100%;
    height: 56px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 15px 0px rgba(244, 241, 244);

    .header {
        max-width: 1280px;
        height: inherit;
        display: flex;
        align-items: center;
        z-index: 10;

        .nameWrapper {
            display: flex;
            align-items: center;
            margin-right: auto;
            gap: 8px;
        }

        .logoWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }


        .title {
            display: none;
        }

        .title,
        .phoneNumber {
            font-size: 16px;
            font-weight: 300;
            white-space: nowrap;
            color: black;

        }

        .phoneNumber {
            display: none;
        }

        .btnsWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }



        .languageSwitcher {
            min-width: 55px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            background: rgba(244, 241, 241, 1);
            border-radius: 20px;
        }

        // .search {
        //     width: 40px;
        //     height: 40px;
        //     border-radius: 50%;

        //     div {
        //         margin: auto auto;
        //         width: 23px;
        //         height: 23px;
        //         background: #fff;
        //         border: 1px solid #000;
        //         border-radius: 50%;
        //     }
        // }
    }

}

@media (min-width: 440px) {
    .head {
        .header {
            .title {
                display: block;
                white-space: nowrap;
                font-weight: 300;
            }
        }
    }

}

@media (min-width: 660px) {
    .head {
        .header {
            .phoneNumber {
                display: flex;
                width: 100%;
                justify-content: flex-end; //end
                padding: 0px 16px 0px 32px;
            }
        }
    }

}

@media (min-width: 1215px) {
    .head {
        .header {
            .nameWrapper {
                margin-right: unset;
            }

            .phoneNumber {
                justify-content: start;
            }

        }
    }

}