.cartBlock {
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: max-content;
    padding: 12px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(201, 62, 1, 1);
}