.sidebar {
    position: fixed;
    top: 56px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    gap: 32px;
    padding: 20px 0px 0px 10px;
    background: rgba(21, 20, 19, 1);
    color: rgba(255, 255, 255);
    z-index: 30;
    left: -40%;
    transition: left 1s;



    .categories {
        display: flex;
        flex-direction: column;
        width: max-content;
        gap: 16px;


        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            title {}

        }


    }

}

.active {
    left: 0%;
}